.black-bg {
    background: #000000;
}

.darkgray-bg {
    background: #333333;
}

.white-bg {
    background: #ffffff;
}

.blue-bg {
    background: #4285f4;
}

.red-bg {
    background: #ea4335;
}

.yellow-bg {
    background: #fbbc04;
}

.green-bg {
    background: #34a853;
}

.orange-bg {
    background: #ff6d01;
}

.azure-bg {
    background: #46bdc6;
}
