$color-mapping: (
    "black": #000000,
    "darkgray": #333333,
    "white": #ffffff,
    "blue": #4285f4,
    "red": #ea4335,
    "yellow": #fbbc04,
    "green": #34a853,
    "orange": #ff6d01,
    "azure": #46bdc6,
);

@each $color, $hex in $color-mapping {
    .#{$color} {
        &-bg {
            background: $hex;
        }

        &-color {
            color: $hex;
        }
    }
}
