.status-bar {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  font-family: monospace;
  line-height: 14px;
  box-sizing: border-box;
  color: white;
}

body,
html {
  margin: 0;
  text-align: left;
  font-family: "Arial";
  font-size: 12px;
}

a:visited {
  color: blue;
}

table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid black;
}
table tbody > tr:last-child {
  border-bottom: none;
}
table th,
table td {
  border-right: 1px solid black;
}
table th:last-child,
table td:last-child {
  border-right: none;
}

.color-button {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid white;
}

.color-button.active {
  border: 2px solid rgba(127, 127, 127, 0.5);
}

.color-picker {
  display: flex;
}

.modal-wrapper {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-background {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(127, 127, 127, 0.5);
}

.modal-container {
  z-index: 1;
}

.table-add-button {
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}
